* {
  margin: 0;
}
body {
  font-family: "Poiret One", "Courier New", Courier, monospace;
}
/* Se pone el position relative para que el hijo funcione */
header {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
}
/* Titulo de la pagina web posicionado con position */
header h2 {
  position: absolute;
  top: 75%;
  left: 5%;
  color: red;
}
header img {
  width: 300px;
}
/* El Nav Baja con la pagina web */
nav {
  background-color: grey;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  position: sticky;
  top: 0;
}
/* Los Links */
a {
  text-decoration: none;
  color: black;
  transition: 1s;
}
a:hover {
  color: orange;
}
main {
  background-image: url(../IMG/SIMULACRO\ 2\ images/fondo.png);
}
section {
  width: 60%;
  margin: auto;
}
/* Este article modifica la parte de sobre nosotros*/
article {
  text-align: center;
  padding: 10px;
}
article h3 {
  color: red;
}
/* El contenedor de los div de las tartas */
.cont {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
/* Contenedor de las tartas */
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
/* Las imagenes son las tartas */
div img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  transition: 3s;
}
div img:hover {
  transform: scale(1.1);
}
/* aside positionado en fijado a la derecha */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 1px black;
  width: 100px;
  position: fixed;
  top: 35%;
  right: 5%;
  gap: 10px;
}
aside img {
  width: calc(50%);
}
aside p {
  color: red;
}
/* Solo hay texto en el footer */
footer {
  background-color: grey;
  text-align: center;
}
